body {
  color: #0F223C;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EAF3F9;
  position: fixed;
  width: 100%;
  z-index: 3;

  .navbar-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end !important;
    max-width: 1519px;
    margin: auto;
    padding: 0;
    width: 86%;

    .nav-left-wrap {
      display: flex;
      flex: 1;
      justify-content: space-between;
      width: 145px;


      .logo-wrap {
        flex: 1 0 8%;
        text-align: left;

        .logo-img {
          height: 42px;
        }
      }
    }

    .nav-right-wrap {
      flex: 0 0 5%;
      text-align: right;

      .nav-items {
        .hamburger-menu-wrapper {
          &.active {
            .nav-img {
              border: 1px solid #26BFAF;
            }
          }

          .nav-img  {
            border-radius: 5px;
  
            &:hover {
              border: 1px solid #26BFAF;
            }
          }
        }
        
        .nav-link {
          padding-right: 10px;
        }
      }
    }

    .menu-wrap {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      position: absolute;
      top: 70px;
    }

    .menu {
      background-color: white;
      box-shadow: 0px 3px 10px #00000029;
      border: 1px solid #26BFAF;
      border-radius: 5px;
      display: none;
      padding: 15px 20px;
      width: 225px;

      .links {
        &.mobile {
          display: none;
        }
      }

      .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .menu-list-item {
          cursor: pointer;
          opacity: 0.6;

          &.active {
            opacity: 1;
          }

          &:hover {
            opacity: 1;
          }

          .icon {
            height: 18px;
            margin-right: 12px;
            width: 18px;
          }
          
        }
      }
    }
  }
}

.section {
  padding: 100px 10px;
}

.section-create-appoinment {
  padding: 78px 12px;
  padding-bottom: 0;

  .container {
    max-width: unset;
    padding: 0;

    .left {
      display: flex;
    }

    .btn-wrap {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      .btn-submit {
        background-color: #26BFAF;
        border-color: #26BFAF;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        height: 45px;
        width: 200px;

        &:focus {
          box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
        }

        &:hover {
          box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
        }
      }
    }

    .form-wrap {
      margin: auto;
      width: 60%;

      .form-control:focus,
      .form-select:focus {
        border: 1px solid #26BFAF;
        box-shadow: 0 0 0 2px rgb(9 165 160 / 20%);
      }

      .input-field {
        label {
          color: #0F223C;
          font-size: 10px;
          font-weight: 600;
          margin-bottom: 0;
        }

        .form-control, .form-select {
          color: #0F223C;
          font-size: 13px;
          height: 40px;

          &:focus {
            border: 1px solid #09a5a0;
            box-shadow: 0 0 0 2px rgb(9 165 160 / 20%);
          }

          &.is-invalid {
            &:focus~label,
            &:not(:placeholder-shown)~label {
              color: #BF152F;
            }

            label {
              color: #BF152F;
            }
          }
        }

        textarea {
          height: 120px !important;
        }
      }

      .datepicker1 {
        border-radius: 5px !important;
        font-size: 13px;
        height: 45px;
      }

      .input-group-addon {
        align-items: center;
        display: flex;
        margin-left: -15px !important;
        position: relative;
        right: 10px;

        .calendar-icon {
          height: 14px;
          width: 14px;
        }
      }
    }

    .title-wrap {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 30px;

      .icon {
        margin-right: 15px;
        width: 33px;
      }
    }

    .main-banner {
      background-image: url("./images/wellbe/rightsideImg.jpg");
      background-size: cover;
      height: calc(100vh - 78px);
    }
  }
}

.datepicker {
  .datepicker-title {
    display: none !important;
  }

  .datepicker-days {
    thead {
      tr {
        color: #0F223C;
      }
    }
    tbody {
      .day {
        color: #0F223C;

        &.old, &.new {
          color: #C3C8CE;
        }

        &.active {
          background-color: #26BFAF;
          border-color: #26BFAF;

          &:hover {
            background-color: #26BFAF;
            border-color: #26BFAF;
          }
        }
        
        &.today {
          background-color: #F0FBFA;

          &.active {
            background-color: #26BFAF;
            border-color: #26BFAF;
  
            &:hover {
              background-color: #26BFAF;
              border-color: #26BFAF;
            }
          }
        }
      }

      // .year {
      //   &.active, &.focused {
      //     background-color: #26BFAF;
      //     border-color: #26BFAF;

      //     &:hover {
      //       background-color: #26BFAF;
      //       border-color: #26BFAF;
      //     }
      //   }
      // }
    }
  }
}

/*  thankyou page */
.section-thankyou {
  padding: 78px 10px;
  padding-bottom: 0;

  .container {
    text-align: center;
    max-width: unset;
    padding: 0;

    .right {
      padding: 0;

      .main-banner {
        background-image: url("./images/wellbe/rightsideImg.jpg");
        background-size: cover;
        height: calc(100vh - 78px);
      }
    }

    .content-wrap {
      align-self: center;
      display: flex;
      flex-direction: column;

      .btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .btn-appointment {
          background-color: #26BFAF;
          border-color: #26BFAF;
          border-radius: 5px;
          font-size: 13px;
          font-weight: 600;
          height: 45px;
          width: 248px;

          &:focus {
            box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
          }

          &:hover {
            box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
          }
        }
      }

      .text-block {
        font-size: 14px;
        margin: auto;
        width: 345px;

        .bold-text {
          font-weight: 600;
        }
      }

      .title {
        color: #072259;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 30px;
      }
    }
  }
}


.section-cancellations {
  background-color: #F9FBFC;
  padding: 150px 0 0 0;

  .container {
    margin-top: 40px;
    max-width: none;
    padding: 0;

    .nav-tabs {
      border: none;
      max-width: 1525px;
      margin: auto;
      width: 86%;

      .nav-link {
        background-color: #DFE7EB;
        border: none;
        font-size: 13px;
        font-weight: 600;
        color: #0F223C;
        height: 50px;
        margin: 0 2px;
        width: 165px;

        &.active {
          background-color: white;
        }
      }
    }

    .tab-content {
      background-color: white;
      margin-top: 25px;
      padding-bottom: 40px;

      .tab-pane {
        max-width: 1600px;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
        width: 93%;

        .row {
          padding-top: 16px;
        }
      }
    }

    .card {
      border: 1px solid #DFE7EB;
      border-radius: 5px;

      &:hover {
        box-shadow: 0px 0px 10px #0000000D;
      }

      .card-body {
        padding: 20px 22px 25px 25px;

        .card-top {
          display: flex;
          justify-content: space-between;

          .created-date {
            color: #00BFAF;
            font-size: 10px;
            font-weight: 600px;
            text-transform: uppercase;
          }

          .app-number {
            background-color: #F0FBFA;
            border-radius: 3px;
            border: none;
            color: #00BFAF;
            font-size: 11px;
            font-weight: 600;
            padding: 5px 13px;
          }
        }

        .card-text {
          color: #B7BCC4;
          font-size: 12px;

          .details {
            color: #0F223C;
          }
        }

        .name {
          color: #0F223C;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    max-width: 1519px;
    width: 86%;

    .date-wrap {
      align-items: center;
      display: flex;
      margin-right: 20px;

      .input-daterange {
        .form-control {
          font-size: 13px;
          height: 45px;
          text-align: left;
          width: 270px;

          &:focus {
            border: 1px solid #26BFAF;
            box-shadow: 0 0 0 2px rgb(9 165 160 / 20%);
          }
        }
      }

      .input-group-addon {
        align-items: center;
        display: flex;
        margin-left: -15px !important;
        position: relative;
        right: 20px;

        .calendar-icon {
          height: 14px;
          width: 14px;
        }
      }

      .text {
        color: #0F223C;
        font-size: 13;
        font-weight: 400;
        margin-right: 15px;
        width: 106px;
      }
    }

    .search-wrap {
      .input-field {
        display: flex;

        .form-control {
          color: #0F223C;
          font-size: 13px;
          height: 45px;
          padding-left: 34px;
          width: 285px;

          &:focus {
            border: 1px solid #26BFAF;
            box-shadow: 0 0 0 2px rgb(9 165 160 / 20%);
          }

          &::placeholder {
            color: #DFE7EB;
          }
        }

        .search-icon {
          position: relative;
          margin-right: -30px;
        }
      }
    }

    .title {
      font-size: 30px;
      font-weight: 800;
      flex: 1;

      .icon {
        margin-right: 15px;
        width: 33px;
      }
    }
  }
}

.section-login {
  background-image: url("./images/wellbe/bannerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;

  .container {
    display: flex;
  }

  .login-wrap {
    border: 1px solid #DFE7EB;
    border-radius: 5px;
    margin: auto;
    width: 380px;

    .header {
      align-items: center;
      background-color: white;
      display: flex;
      height: 112px;
      justify-content: center;
    }

    .content {
      background-color: #F9FBFC;
      border-top: 1px solid #DFE7EB;
      padding: 30px 50px 50px 50px;

      .input-field {
        label {
          color: #0F223C;
          font-size: 10px;
          font-weight: 600;
          margin-bottom: 0;
        }

        .form-control {
          color: #0F223C;
          font-size: 13px;
          height: 40px;

          &:focus {
            border: 1px solid #09a5a0;
            box-shadow: 0 0 0 2px rgb(9 165 160 / 20%);
          }

          &.is-invalid {
            &:focus~label,
            &:not(:placeholder-shown)~label {
              color: #BF152F;
            }

            label {
              color: #BF152F;
            }
          }
        }
      }

      .title {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
      }

      .btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .btn-login {
          background-color: #26BFAF;
          border-color: #26BFAF;
          border-radius: 5px;
          font-size: 13px;
          font-weight: 600;
          height: 45px;
          width: 120px;

          &:focus {
            box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
          }

          &:hover {
            box-shadow: 0 0 0 3px rgb(9 165 160 / 20%);
          }
        }
      }
    }
  }
}


/* mobile */
@media screen and (max-width: 760px) {
  .section-create-appoinment {
    .left {
      width: 100%;

      .form-wrap {
        width: 90%;
      }
    }
    .right {
      display: none;
    }
  }
  .section-thankyou {
    .content-wrap {
      width: 100%;
    }

    .right {
      display: none;
    }
  }
}



/* tablet-portrait */
@media screen and (min-width: 768px) and (max-width: 992px){
  .section-create-appoinment {
    .left {
      width: 100%;

      .form-wrap {
        width: 90%;
      }
    }
    .right {
      display: none;
    }
  }

  .section-thankyou {
    .content-wrap {
      width: 100%;
    }

    .right {
      display: none;
    }
  }

  .section-cancellations {
    .tab-pane  {
      .col-sm-4 {
        width: 50%;
      }
    }
  }
}

/* tablet-landscape */
@media screen and (min-width: 992px) and (max-width: 1024px){
  .section-thankyou {
    .content-wrap {
      width: 60%;
    }

    .right {
      width: 40%;
    }
  }
}